<form [formGroup]="addForm" (ngSubmit)="addParty()" class="form-inline">
    <h4>New Redirect</h4>
  <fieldset class="form-group">
    <label for="partyName">Hostname</label>
    <input id="partyName" class="form-control" type="text" formControlName="name" placeholder="Hostname" />

    <label for="description">/</label>
    <input id="description" class="form-control" type="text" formControlName="description" placeholder="Path">
    <p />
    <label for="location_name">New Url</label>
    <input id="location_name" class="form-control" type="text" formControlName="location" placeholder="http://">

    <!--<div class="checkbox">-->
      <!--<label>-->
        <!--<input type="checkbox" formControlName="public">-->
        <!--Public-->
      <!--</label>-->
    <!--</div>-->

    <button type="submit">Add</button>
  </fieldset>
</form>
